/****************************
        RESSETER 
*****************************/
*{
    margin: 0;
    padding: 0;
}

/****************************
    DIRECT TAG SELECTORS 
*****************************/

/* body *{
    outline: double red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
} */

a{
    color: black;
}

/**************************************
    CONTAINER/WRAPPER (wrapping baby)
***************************************/
.container{
    margin: 20px 10px 10px 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    display: block;
}
/****************************
        HEADER 
*****************************/
.header h1{
    display: inline-block;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.header h3{
    display: inline-block;
    margin:  0px 0px 0px 55%;
    padding: 0px 0px 10px 0px;
}

/**************************************************
        CONTENT (marunong makuntento sa isa haha)
***************************************************/
.content{
    background-image: linear-gradient(
    to right bottom, #1f1c1e, #2c272a,
     #3b3237, #4a3d44, #594952,
      #594952, #594952, #594952,
       #4a3d44, #3b3237, #2c272a,
        #1f1c1e);
    width: 1000px;
    height: 61em;
}
    .content .uperleftbox{
        display: inline;
    }
    div.content .profilePicture{
        background-color: #c0c0c0;
        margin: 17px 12px 0px 25px;
        padding: 8px;
        height: 285px;
        width: 453px;
    }
    div.content div.uperrighttbox{
        background-color: whitesmoke;
        display: inline-block;
        vertical-align: bottom;
        margin: 10px 12px 0px 6px;
        height: 304px;
        width: 453px;
    }
    div.content .uperrighttbox p.upperRight-tittle{
        display: block;
        height: 33px;
        color: white;
        font-size: 27px;
        font-weight: 100;
        padding: 13px 6px 6px 6px;
        background-image: linear-gradient(to bottom,
        #b7b6b9, #adabb2, #a3a0ab, #9995a5,
        #8e8b9e, #8e8b9e, #8e8b9e, #8e8b9e,
        #9995a5, #a3a0ab, #adabb2, #b7b6b9);
    }

    div.content .uperrighttbox p{
        height: 68px;
        display: inline-block;
        font-size: 17px;
        font-weight: 100;
        padding: 13px 17px 0px 9px;
    }

/*******************************
    TITTLES OR SUB-HEADERS
*******************************/
.tittle{
    display: block;
    height: 28px;
    color: white;
    font-size: 27px;
    font-weight: 100;
    padding: 7px 6px 9px 6px;
    background-image: linear-gradient(to bottom,
    #b7b6b9, #adabb2, #a3a0ab, #9995a5,
    #8e8b9e, #8e8b9e, #8e8b9e, #8e8b9e,
    #9995a5, #a3a0ab, #adabb2, #b7b6b9);

}
.secondTittle{
    display: block;
    color: white;
    font-size: 27px;
    font-weight: 100;
    margin: 20px 0px 0px 0px;
    padding: 7px 0px 5px 0px;
    background-image: linear-gradient(to bottom,
    #b7b6b9, #adabb2, #a3a0ab, #9995a5,
    #8e8b9e, #8e8b9e, #8e8b9e, #8e8b9e,
    #9995a5, #a3a0ab, #adabb2, #b7b6b9);

}


.row{
    display: inline;
    width: 100%;
}
.col-1 span{
    margin: -10px 0px -10px 0px;

}

/*************************
    BUTTON STYLES
**************************/
.col-1 .greenbtn{
    box-shadow: 4px 4px #0000007d;
    width: 52px;
    height: 10px;
    font-size: 11px;
    color: white;
    background-color: #407d61;
    border: 0.05em solid black;
    border-radius: 0.6em;
    padding: 5px 4px 7px 5px;
    margin: 1em 0em 0em 11em;

}
.col-2 .greenbtn{
    box-shadow: 4px 4px #0000007d;
    width: 106px;
    height: 10px;
    font-size: 11px;
    color: white;
    background-color: #407d61;
    border: 0.05em solid black;
    border-radius: 0.6em;
    padding: 5px 4px 7px 5px;
    margin: 1em 0em 0em 8em;

}
.col-3 .greenbtn{
    box-shadow: 4px 4px #0000007d;
    width: 75px;
    height: 10px;
    font-size: 11px;
    color: white;
    background-color: #407d61;
    border: 0.05em solid black;
    border-radius: 0.6em;
    padding: 5px 4px 7px 5px;
    margin: 1em 0em 0em 10em;

}
    .greenbtn a{
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

/*************************
     STYLES FOR LA MODE
**************************/
    .col-1{
        background-image: linear-gradient(to right,
        #fefeff, #eeeef3, #dfdee8, #d0cfdc,
        #c1bfd1);
        display: inline-block;
        margin: 24px 10px 0px 24px;
        width: 30%;
        height: 36em;
    }
        .content .col-1 span img{
            margin: 0px;
            width: 100%;
            height: 145px;
        }
        .col-1 p {
            margin: 6px 14px 86px 11px;
            text-align: justify;
            font-size: 15px;
        }
        .row .col-1 img{
            width: 40px;
            height: 40px;
            margin: 8px;
        }
/*********************************
     STYLES FOR FAMILY CONTACTS
*********************************/        
    .col-2{
        background-image: linear-gradient(to right,
        #fefeff, #eeeef3, #dfdee8, #d0cfdc, #c1bfd1);
        display: inline-block;
        margin: 24px 10px 0px 10px;
        width: 30%;
        height: 36em;
    }
        .content .col-2 span img{
            margin: 0px;
            width: 100%;
            height: 145px;
        }
        .col-2 p {
            margin: 6px 14px 53px 11px;
            text-align: justify;
            font-size: 15px;
        }

        .row .col-2 img{
            width: 40px;
            height: 40px;
            margin: 8px;
            
        }
/*************************
     STYLES FOR LA MODE
**************************/       
    .col-3{
        background-image: linear-gradient(to right,
        #fefeff, #eeeef3, #dfdee8, #d0cfdc, #c1bfd1);
        display: inline-block;
        margin: 24px 24px 0px 10px;
        width: 30%;
        height: 36em;
    }
        .content .col-3 span img{
            margin: 0px;
            width: 100%;
            height: 145px;
        }
        .col-3 p {
            margin: 6px 14px 18px 11px;
            text-align: justify;
            font-size: 15px;
        }

        .row .col-3 img{
            width: 40px;
            height: 40px;
            margin: 8px;
            
        }
/****************************
        FOORTER 
*****************************/
.footer{
    margin: 0.8em 0em 0em 0em;
    display: block;
}
    .footer p{
        font-size: 20px;
        margin-left: 17em;
        margin-right: 17em;
    }


    div.footer div.ft-row{
        margin-left: 17em;
    }
        div.footer .ft-row img{
            display: inline-block;
            vertical-align: bottom;
            padding: 10px 0px 0px 0px;
            width: 2em;
            height: 2em;
        }
    div.footer .ft-row .ft-col{
        display: inline-block;
        margin: 3px;
        margin-bottom: 7px;
    }

        